<!DOCTYPE html>
<html>
<head>
  <title>Job Posts</title>
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 15px;
  text-align: center;
  background: #6bc3b0;
  color: white;
  font-size: 30px;
}

.container { 
  padding: 40px;    
    background-color: white;  
    padding-left: 30%;
 } 

.form {   
    border: 3px solid #f1f1f1;  
 }  

.button {   
       background-color: white;   
       width: 100%;   
       padding: 15px;   
       margin: 10px 0px;   
       border: none;   
       cursor: pointer;
       padding-left: 48%;   
} 


</style>
</head>
<body>

<div class="header">
  <h1>ZenHR</h1>
</div>

<h2 style="text-align:center">Sign up</h2>

<div class='form'>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <div class='label'> <%= f.label :email %><br /> </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

</br>

  <div class="field">
    <div class='label'> <%= f.label :password %></div>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <div class='label'><%= f.label :password_confirmation %><br /> </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

</br>

<%= render "devise/shared/links" %>

</br>

 <%= link_to 'Back', home_index_path %>
</div>

</body>
</html>
