<%= form_for([@job, @application]) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being submitted:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :extra_information %><br>
    <%= f.text_area :extra_information, cols: "30", rows: "10" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>