
<%= form_with model: @job, local: true do |form| %>
 
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@job.errors.count, "error") %> prohibited
        this job post from being saved:
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<div class="title">
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
</div>
 
<div class='description'> 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, cols: "30", rows: "10" %>
  </p>
</div>

  <p>
    <%= form.submit "Submit"%>
  </p>
<% end %>