<!DOCTYPE html>
<html>
<head>
  <title>Job Home</title>
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 15px;
  text-align: center;
  background: #6bc3b0;
  color: white;
  font-size: 30px;
}

.container { 
  padding: 40px;    
    background-color: white;  
    padding-left: 30%;
 } 

.form {   
    border: 3px solid #f1f1f1;  
 }  

.button {   
       background-color: white;   
       width: 100%;   
       padding: 15px;   
       margin: 10px 0px;   
       border: none;   
       cursor: pointer;
       padding-left: 48%;   
} 

table, th, td {
  border: 1px solid #ddd;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}


</style>
</head>
<body>

<div class="header">
  <h1>ZenHR</h1>
</div>

<h2>Listing Job Posts</h2>
 
<% if current_user && current_user.admin %>
  <div class='action'>
    <%= link_to 'New job post', new_job_path %>
  </div>
<%end%>

</br>

<h3>Job Posts:</h3>

<% if @job.blank? %>
<h4>No jobs found</h4>
<% else %>

<table align="center">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
 
  <% @job.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.description %></td>
      <td><%= link_to 'Show', job_path(job) %>
      <% if current_user && current_user.admin %>
      <%= link_to 'edit', edit_job_path(job) %>
      <%= link_to 'delete', job_path(job), 
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <%end%>
    </tr>
  <% end %>
</table>

<% end %>

</br>

<% if current_user && current_user.admin %>
  <% if @application.blank? %>
    <h3> No applicants application submitted yet</h3>
  <% else %>

    <h3>Applications submitted:</h3>

    <table align="center">
      <tr>
        <th>User ID</th>
        <th>Job ID</th>
        <th>Extra information</th>
        <th>Action</th>
      </tr>
 
      <% @application.each do |application| %>
      <tr>
          <td><%= application.user.email.split("@")[0] %></td>
          <td><%= application.job.title %></td>
          <td><%= application.extra_information %></td>
          <td><%= link_to 'View Application', job_application_path(application.job,application) %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
<%end%>

</br>

<div class='action'>
  <%= link_to 'Back', controller: 'home' %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
</div>


</body>
</html>


