<!DOCTYPE html>
<html>
<head>
  <title>Job Posts</title>
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 15px;
  text-align: center;
  background: #6bc3b0;
  color: white;
  font-size: 30px;
}

.container { 
  padding: 40px;    
    background-color: white;  
    padding-left: 30%;
 } 

.form {   
    border: 3px solid #f1f1f1;  
 }  

.button {   
       background-color: white;   
       width: 100%;   
       padding: 15px;   
       margin: 10px 0px;   
       border: none;   
       cursor: pointer;
       padding-left: 48%;   
} 


</style>
</head>
<body>

<div class="header">
  <h1>ZenHR</h1>
</div>

<h2>Job Post</h2>

<div class='titleOutput'>
<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>
</div>
 
<div class='descriptionOutput'>
<p >
  <strong>Description:</strong>
  <%= @job.description %>
</p>
</div>

</br>

<% if current_user && !current_user.admin %>
	<% if @application.blank? %>
		<h3> No application submitted to this job post </h3>
    <div class='action'>
		  <%= link_to 'Apply', new_job_application_path(@job)%>
    </div>
	<% else %>
		<h2>Application Submitted:</h2>
			<% @application.each do | application |%>
				<p> <b>Job title:</b> <%= application.job.title %></p>
				<p> <b>Application extra information:</b> <%= application.extra_information %></p>
				<% if application.seen == true %>
				<p><b>Application status:</b> Seen</p>
				<% else %>
				<p><b>Application status:</b> Not seen</p>
				<% end %>
			<% end %>
	<%end%>	
<%end%>

<div class='action'>
<%= link_to 'Back', jobs_path %>
<% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_job_path(@job) %> 
<% end %>

</div>

</body>
</html>