<!DOCTYPE html>
<html>
<head>
  <title>New Job</title>
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 15px;
  text-align: center;
  background: #6bc3b0;
  color: white;
  font-size: 30px;
}

.container { 
  padding: 40px;    
    background-color: white;  
    padding-left: 30%;
 } 

.form {   
    border: 3px solid #f1f1f1;  
 }  

.button {   
       background-color: white;   
       width: 100%;   
       padding: 15px;   
       margin: 10px 0px;   
       border: none;   
       cursor: pointer;
       padding-left: 48%;   
} 


</style>
</head>
<body>

<div class="header">
  <h1>ZenHR</h1>
</div>

<h2 style="text-align:center">Forgot your password?</h2>

<div class="form">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
</br>
  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

</br>

<%= render "devise/shared/links" %>
</div>
</body>
</html>
