<!DOCTYPE html>
<html>
<head>
  <title>Job Posts</title>
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 15px;
  text-align: center;
  background: #6bc3b0;
  color: white;
  font-size: 30px;
}

.container { 
  padding: 40px;    
    background-color: white;  
    padding-left: 30%;
 } 

.form {   
    border: 3px solid #f1f1f1;  
 }  

.button {   
       background-color: white;   
       width: 100%;   
       padding: 15px;   
       margin: 10px 0px;   
       border: none;   
       cursor: pointer;
       padding-left: 48%;   
} 


</style>
</head>
<body>

<div class="header">
  <h1>ZenHR</h1>
</div>

<h2 style="text-align:center">Log in</h2>

<div class='form'>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

</br>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

</br>

<%= render "devise/shared/links" %>
</br>
 <%= link_to 'Back', home_index_path %>
</div>

</body>
</html>
