// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form{
	text-align: center;
}

h1{
	text-align: center;
}

h3{
	text-align: center;
}
h2{
	text-align: center;
}
p{
	text-align: center;
}