// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1{
	text-align: center;
}s

h3{
	text-align: center;
}
h2{
	text-align: center;
}