<!DOCTYPE html>
<html>
  <head>
    <title>ZenAssignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p class="notice" style="text-align:center"><%= notice %></p>
    <p class="alert" style="text-align:center"><%= alert %></p>
  </body>
</html>
